<div class="bg-light p-4 text-center mt-5">
  <h1 class="m-3">Bienvenido a Movie Catalog</h1>
  <p class="py-3 px-5">
    Aquí encontrarás una amplia selección de películas de todos los géneros y
    épocas, desde los clásicos atemporales hasta los últimos estrenos. Nuestra
    plataforma está diseñada para ofrecerte una experiencia de usuario intuitiva
    y atractiva, permitiéndote navegar fácilmente por nuestra colección.
    Explora, descubre y disfruta de películas que van desde emocionantes
    thrillers y conmovedores dramas, hasta divertidas comedias y fascinantes
    documentales. Actualizamos nuestro catálogo regularmente para garantizar que
    siempre tengas acceso a nuevas opciones y puedas descubrir joyas ocultas del
    cine. ¡Sumérgete en el mundo del séptimo arte y encuentra tu próxima
    película favorita!
  </p>
  <a href="/movies" class="btn btn-dark mt-2 mb-3">Ir al catálogo</a>
</div>
